
*{
    padding: 0;
    margin: 0;
}
.all{
    border: 1px solid rgba(91, 49, 95, 0.151) ;
    box-shadow: 50px;
    border-radius: 10px;
    width: 20%;
    background-color: rgba(91, 49, 95, 0.151);
    margin: 20% auto 0 ;
    padding: 10% 20%;
}
form{
    text-align: center
}
#primeNumber{
    width: 100%;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 16px;
}
@media screen and (min-width:620px){
    h1{
        text-align: center;
        font-size: 32px;
    }
    
    .all{
    padding: 10% 10%;
    margin: 10% auto 0;
    }

}
.result{
    
    padding: 5% 0 ;
}
